<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-Твиттер</title>
    <link rel="stylesheet" type="text/css" href="/static/page_style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Мини-Твиттер</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="edit-post">
                <h2>Редактировать пост</h2>
                <form action="/posts/{{ post.id }}/edit" method="post">
                    <textarea id="postContent" name="content" placeholder="Расскажите о своем дне" required>{{ post.content }}</textarea>
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Мини-Твиттер</p>
        </div>
    </footer>
</body>
</html>