<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-Твиттер</title>
    <link rel="stylesheet" type="text/css" href="/static/page_style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Мини-Твиттер</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="new-post">
                <h2>Что у Вас нового?</h2>
                <form id="newPostForm" action="/posts/" method="post">
                    <textarea id="postContent" name="content" placeholder="Расскажите о своем дне" required></textarea>
                    <button type="submit">Опубликовать</button>
                </form>
            </div>

            <!-- Блок для отображения сообщения об ошибке -->
            {% if error_message %}
                <div class="error-message">{{ error_message }}</div>
            {% endif %}

            <div class="posts">
                <h2>Посты</h2>
                {% for post in posts %}
                <div class="post" data-post-id="{{ post.id }}">
                    <p><strong>{{ post.user.username }}</strong>: {{ post.content }}</p>
                    {% if post.user_id == user_id %}
                        <button class="edit-btn" onclick="window.location.href='/posts/{{ post.id }}/edit'">Редактировать</button>
                        <form action="/posts/{{ post.id }}/delete" method="post">
                            <button class="delete-btn" type="submit">Удалить</button>
                        </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Мини-Твиттер</p>
        </div>
    </footer>
</body>
</html>
